    /*Setting Basic Dimensions to give
gallery view */
    
    body {
        height: 100vh;
        justify-content: center;
        text-align: center;
        font-family: sans-serif;
        background-color: rgb(111, 219, 156);
    }
    
    #container {
        position: absolute;
        border: 2px solid rgb(112, 112, 112);
        border-style: inset;
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
    }
    /*picture view settings*/
    
    .main_view {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-left: 25px;
        margin-right: 25px;
        text-align: center;
        border: 25px double transparent;
    }
    
    .main_view img {
        width: 500px;
        max-height: 500px;
        height: auto;
        object-fit: cover;
    }
    
    .side_view {
        margin-left: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        float: left;
    }
    
    .side_view img {
        width: 250px;
        height: auto;
        object-fit: contain;
        border: 10px double transparent;
        padding: 20px;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
    }